<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>25 26 27 24 25 27 20 22 23 20 21 22 18 19 20 18 20 23 15 23 11 18 15 17 18 23 15 15 16 17 11 9 10 15 11 14 14 12 13 14 11 12 11 23 5 11 5 9 5 6 9 6 7 8 6 8 9 5 23 24 2 5 24 2 4 5 2 3 4 24 0 1 24 1 2 0 24 27</string>
                <key>vertices</key>
                <string>329 17 391 66 406 96 464 78 509 135 479 224 512 368 512 438 475 464 414 467 341 512 190 512 105 492 54 446 33 401 14 299 0 268 0 250 22 158 62 47 111 72 111 38 150 38 155 78 197 60 215 8 230 0 247 0</string>
                <key>verticesUV</key>
                <string>330 18 392 67 407 97 465 79 510 136 480 225 513 369 513 439 476 465 415 468 342 513 191 513 106 493 55 447 34 402 15 300 1 269 1 251 23 159 63 48 112 73 112 39 151 39 156 79 198 61 216 9 231 1 248 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{514,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a8adc270848f3a0d245828e71d47158:0e949a366e231d8d93d6b7536ffa54de:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
