<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{512,506}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,506}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>19 20 21 2 10 19 16 18 19 16 17 18 10 16 19 11 16 10 14 12 13 14 15 11 14 11 12 11 15 16 2 9 10 6 7 8 6 8 9 9 4 6 4 5 6 9 2 4 2 3 4 0 2 19 0 1 2 0 19 21</string>
                <key>vertices</key>
                <string>321 12 402 51 483 160 512 177 512 266 506 406 462 433 409 508 366 507 332 491 266 503 148 502 22 484 2 462 0 433 7 380 0 256 0 198 9 165 100 57 164 18 241 2</string>
                <key>verticesUV</key>
                <string>322 11 403 50 484 159 513 176 513 265 507 405 463 432 410 507 367 506 333 490 267 502 149 501 23 483 3 461 1 432 8 379 1 255 1 197 10 164 101 56 165 17 242 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{514,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1793c4865463987a3e3f79096527f37f:7604f3b39a87143681b2f138b87b0c1f:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
