<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 5 6 8 3 5 8 3 4 5 2 3 8 1 2 8 0 1 8</string>
                <key>vertices</key>
                <string>443 5 512 41 512 481 464 512 27 512 0 464 0 51 51 0 404 0</string>
                <key>verticesUV</key>
                <string>444 6 513 42 513 482 465 513 28 513 1 465 1 52 52 1 405 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GD04.png</string>
            <key>size</key>
            <string>{514,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89237ee50786d1b8e1ac07ca52b2c5c6:72dfda696261c573a45403405a8788fe:572a869521ec7a8a4219dce7c54c227a$</string>
            <key>textureFileName</key>
            <string>GD04.png</string>
        </dict>
    </dict>
</plist>
